/** styles for dev test **/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 0 auto;
}

.uk-modal {
    color: #222222;
}

.uk-link:hover, a:hover {
    color: #059;
    text-decoration: none;
}

ol li, ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.header {
    color: #FFFFFF;
    background: #FF570C;
    background-size: cover;
    text-align: center;
    padding: 120px 10px;
    margin: 0 auto 50px;
    position: relative;
}

.header > *:not(a) {
    color: #FFFFFF;
    font-size: 19px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    position: relative;
    margin: 0 auto;
}

.header h1 {
    color: #FFFFFF;
    font-size: 19px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    position: relative;
    margin: 0 auto;
}

.header > h1:before {
    font-family: "FontAwesome";
    content: "\f121";
    padding-right: 10px;
}

.header > h1 + p {
    font-size: 22px;
}

.wdac-container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 25px auto;
    position: relative;
}

.wdac-button .button {
    width: 140px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    margin-top: 15px;
    text-decoration: none !important;
}

.wdac-button .button:hover {
    background: #FFFFFF;
    color: #FF570C;
    transition: .5s;
}

.wdac-button .button a {
    text-decoration: none !important;
}

.wdac-button a {
    border: 0px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.wdac-sidebar {
    width: 25%;
    float: right;
    background: #FAFAFA;
    border: 1px solid #F0F0F0;
    padding: 15px;
    box-sizing: border-box;
}

footer {
    background: #282828;
    padding: 90px;
    color: #FFFFFF;
    text-align: center;
    margin: 50px auto 0;
    clear: both;
}

footer a {
    color: #FFFFFF;
}

.body-content p {
    text-align: justify;
}

.begin {
    position: absolute;
    top: -50px;
}

.little-boxes {
    display: block;
    box-sizing: border-box;
    background: #EEEEEE;
    text-align: center;
}

.little-boxes .all-the-same {
    display: inline-block;
    position: relative;
    width: 124px;
    height: 124px;
    margin: 5px;
    box-sizing: border-box;
    padding: 0;
}

.little-boxes .all-the-same a {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #333333;
}

.little-boxes .all-the-same a:hover {
    background: #FF570C; 
    transition: .5s;
}

.little-boxes .all-the-same a:active {
    background: #0cb4ff;
    transition: 0s;
}

.little-boxes .all-the-same .numbers {
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

.clearfix {
    clear: both;
}

@media (min-width: 320px) {

}

@media (min-width: 480px) {
    .header h1 {
        font-size: 30px;
    }
}

@media (min-width: 600px){
    .little-boxes .all-the-same {
        height: 171px;
        width: 171px;
    }
}

@media (min-width: 768px){
    .little-boxes .all-the-same {
        width: 227px;
        height: 227px;
    }
}


@media (min-width: 959px) {
    
    .header h1 {
        font-size: 50px;
    }
    
    .little-boxes .all-the-same {
        display: inline-block;
        height: 278.5px;
        width: 278px;
    }
    
}

/* tablet size */
@media (max-width: 959px) {
    main.body-content, aside.wdac-sidebar {
        width: 100%;
        float: none;
    }
    
}

